<nav class="navbar" [class.is-open]="menuOpen">
  <a class="navbar-logo" routerLink="/" aria-label="Home" (click)="closeMenu()">
    <img src="assets/shortenedlogo.png" alt="Home" />
  </a>

  <button
    type="button"
    class="navbar-toggle"
    aria-label="Toggle navigation menu"
    [attr.aria-expanded]="menuOpen"
    aria-controls="primary-navigation"
    (click)="toggleMenu()">
    <mat-icon aria-hidden="true">{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <div id="primary-navigation" class="navbar-links" [class.is-open]="menuOpen">
    @for (item of navItems; track item.link) {
      <a mat-button [routerLink]="item.link" (click)="closeMenu()">
        @if (item.icon) {
          <mat-icon aria-hidden="true" class="navbar-link-icon">{{ item.icon }}</mat-icon>
        }
        <span>{{ item.text }}</span>
      </a>
    }
  </div>
</nav>
