@import url('../../../styles.css');

.recruitment-card {
	width: min(100% - 40px, 1400px);
	margin: 0 auto 2rem;

}

.recruitment-card mat-card-title {
    font-size: 32px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.recruitment-card mat-card-title mat-icon {
    font-size: 1.1em;
    width: 1.1em;
    height: 1.1em;
    line-height: 1;
}

.recruitment-card p {
    font-size: 18px;
}

.recruitment-card mat-card-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}