@import url('../home.css');
@import url('../../../../styles.css');

mat-card {
    width: 100%;
    max-width: 240px;
    height: auto;
    min-height: 180px;
    margin: 15px 0 20px 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-left: 4px solid rgb(160, 0, 0);
}

mat-card-title {
    font-size: clamp(18px, 4vw, 20px);
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}

mat-card-subtitle {
    color: rgb(0, 0, 0);
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 400;
    text-align: center;
}

